<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="description" content="A simple chocolate restaurant App" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choco App</title>
  </head>
  <body>
    <nav>
      <div class="container nav__bar">
        <div class="nav__home">
          <span>LOGO</span>
        </div>
        <ul class="nav__menu">
          <li>Favourite</li>
          <li>About Us</li>
        </ul>
      </div>
    </nav>

    <header>
      <h1>Choco App</h1>
    </header>

    <div class="hero">
      <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
      <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
      <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
      <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
    </div>

    <main>
      <section class="content">
        <p>
          Jangan lupa untuk menggunakan salah satu gambar yang berada pada
          ./images/heros sebagai background hero elemen
        </p>
      </section>
    </main>

    <footer>
      <div class="container">
        <span> Copyright &copy; 2020 - Sami Kalammallah </span>
      </div>
    </footer>
  </body>
</html>
