<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta
      name="description"
      content="A simple web app showing you the best dish ever served"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delicious Dish</title>
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to content</a>
    <nav id="navbar">
      <div class="container nav__bar">
        <div class="nav__home">
          <a href="/">DD</a>
        </div>
        <ul class="nav__menu">
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="#">FAVOURITES</a>
          </li>
          <li>
            <a href="https://github.com/samx23/">ABOUT US</a>
          </li>
        </ul>
        <a id="hamburger" href="#">☰</a>
      </div>
    </nav>

    <nav id="drawer">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">Favourite</a>
        </li>
        <li>
          <a href="https://github.com/samx23/">About Us</a>
        </li>
      </ul>
    </nav>

    <header class="container">
      <div class="hero">
        <div class="hero__img"></div>
        <div class="hero__text">
          <h1 class="hero__heading">DELICIOUS DISH</h1>
        </div>
      </div>
    </header>

    <main id="main" class="container">
      <section class="main__header">
        <h2>Our Best Offering</h2>
        <p>
          We serve you the best suggestion for your belly, the best place you
          can get. All about delicous food discovered by masterpiece.
        </p>
      </section>
      <section id="card" class="cards"></section>
    </main>

    <footer>
      <section class="container">
        <span>Copyright &copy; 2020 - Delicious Dish</span>
      </section>
    </footer>
  </body>
</html>
