<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta
      name="description"
      content="A simple web app showing you the best dish ever served"
    />
    <meta name="theme-color" content="#3dabff" />
    <link rel="icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="manifest" href="manifest.json" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Delicious Dish</title>
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to content</a>
    <nav id="navbar">
      <div class="container nav__bar">
        <div class="nav__home">
          <a href="/">DD</a>
        </div>
        <ul class="nav__menu">
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="#/favourite">FAVOURITES</a>
          </li>
          <li>
            <a href="https://github.com/samx23/">ABOUT US</a>
          </li>
        </ul>
        <a id="hamburger" href="#">☰</a>
      </div>
    </nav>

    <nav id="drawer">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#/favourite">Favourite</a>
        </li>
        <li>
          <a href="https://github.com/samx23/">About Us</a>
        </li>
      </ul>
    </nav>

    <main id="main" class="container"></main>

    <footer>
      <section class="container">
        <span
          >Copyright &copy; 2020 - Delicious Dish |
          <a href="https://kalamallah.xyz">Sami Kalammallah</a>
        </span>
      </section>
    </footer>
  </body>
</html>
