/* Pallete https://colorhunt.co/palette/225760 */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Passion+One&display=swap");

:root {
  --primary: rgba(221, 221, 221, 1);
  --secondary: rgba(34, 40, 49, 1);
  --pink: rgba(240, 84, 84, 1);
  --red: rgba(191, 23, 34, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  font-family: sans-serif;
}

.container {
  max-width: 1100px;
  text-align: center;
  margin: auto;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--red);
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* Drawer */
#drawer {
  width: 250px;
  height: 100%;
  position: absolute;
  transform: translate(-250px, 0);
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  background-color: #111;
  padding-top: 55px;
}

#drawer.open {
  transform: translate(0, 0);
}

#drawer > ul {
  margin-top: 20px;
}

#drawer li {
  padding: 8px 15px;
  font-size: 44px;
}

#drawer a {
  text-decoration: none;
  color: var(--primary);
}

#hamburger {
  display: none;
  font-size: 40px;
  color: var(--primary);
  background-color: rgba(0, 0, 0, 0);
  border: unset;
  padding: 5px;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--secondary);
  z-index: 5;
}

.nav__bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 60px;
  height: auto;
  color: var(--primary);
}

.nav__bar a {
  color: var(--primary);
  text-decoration: none;
}

.nav__home {
  margin: auto auto auto 65px;
  font-family: "Monoton", cursive;
}

.nav__home > a {
  letter-spacing: 10px;
  font-size: xx-large;
  color: var(--pink);
}

.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.nav__menu > li {
  width: 100%;
  margin: auto;
}

.nav__menu > li > a {
  display: block;
  width: 100%;
  font-family: "Passion One", cursive;
  padding: 15px;
  letter-spacing: 2px;
}

/* Header */

header {
  padding-top: 60px;
}

.hero {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  max-height: 25rem;
  text-align: center;
}

.hero__img {
  width: 100%;
  min-height: "320px";
  max-height: 25rem;
  object-fit: cover;
}

.hero__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10rem;
  font-size: 30px;
}

.hero__heading {
  color: var(--pink);
  font-weight: 800;
  letter-spacing: 5px;
  text-shadow: 5px 5px var(--secondary);
}

/* Main */
main {
  text-align: center;
  margin: auto;
}

.main__header {
  margin: 50px;
}

.main__header > h2 {
  font-size: xx-large;
  padding-bottom: 10px;
  border-bottom: var(--secondary) 5px dashed;
}

.main__header > p {
  margin-top: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1em;
}

.card__item {
  border: 2px solid gray;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 5px;
  background-color: white;
  cursor: pointer;
}

.card__item:hover {
  box-shadow: 0 6px 10px 0 rgb(15, 64, 129);
}

.card__item > a {
  text-decoration: none;
  color: unset;
}

.card__item > a:active {
  color: unset;
}

.card__image {
  position: relative;
}

.card__image img {
  width: 100%;
  max-height: 160px;
  object-fit: cover;
}

.card__image span {
  position: absolute;
  top: 5px;
  padding: 5px;
  min-width: 44px;
  border-radius: 25px;
}

.card__imageLeft {
  background-color: rgb(255, 252, 82);
  left: 5px;
}

.card__imageRight {
  right: 5px;
  background-color: #ff4a4a;
  color: #000000;
  font-weight: 700;
}

.card__content {
  padding: 0 1em 1em 1em;
}

.card__content > h3 {
  padding: 0.5em;
}

.card__content > p {
  text-align: justify;
  max-height: 160px;
  overflow: hidden;
}

/* Favorite pages */
.container__height {
  margin-top: 10vh;
  min-height: 80vh;
}

/* Detailed Page */
.detail {
  display: grid;
  grid-template-areas: "detailHeader detailInfo" "detailOverview detailOverview" "detailReviews detailReviews";
  gap: 15px;
  font-size: x-large;
}

.detail > div {
  margin: auto;
}

.detail__header {
  grid-area: detailHeader;
}

.detail__poster {
  width: 100%;
}

.detail__title {
  color: #0d7583;
}

.detail__info {
  grid-area: detailInfo;
  padding: 10px;
  text-align: left;
  margin-left: 10px !important;
}

.detail__info > div {
  margin-top: 0.5em;
}

.detail__info > div > ul {
  padding: 5px;
  list-style-type: none;
}

.detail__overview {
  border-top: #0d7583 dashed 2px;
  padding: 25px;
  grid-area: detailOverview;
  text-align: justify;
}

.detail__reviews {
  grid-area: detailReviews;
  padding: 25px;
  text-align: left;
  margin-left: 0 !important;
}

.info__categories > h4 {
  margin: 0.5em 0;
}

.info__categories > span {
  padding: 5px;
  color: white;
  background-color: rgb(179, 68, 68);
}

/*
   Like
*/
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#no_result {
  display: block !important;
  margin: 40vh 50px;
  text-align: center;
}

/* Footer */
footer {
  display: grid;
  background-color: var(--secondary);
  color: var(--primary);
  height: 50px;
}

.footer__credit {
  padding: 14px 0;
  text-decoration: none;
  color: unset;
}

.footer__credit:hover {
  border-radius: 5px;
  background-color: rgb(247, 82, 90);
}

/* Animation */
#scrollTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--secondary);
  color: var(--pink);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

#scrollTopButton:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 1em;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}
